<html>
    <head>
        <meta charset="utf-8">
        <title>cinema.ulbwa.xyz</title>
        <meta property="og:title" content="cinema.ulbwa.xyz">
        <meta property="og:locale" content="en_EU">
        <meta property="og:description" content="cinema.ulbwa.xyz main page">
        <meta name="viewport" content="width=device-width, initial-scale=0.7">
        <link rel="shortcut icon" href="static/images/logo.png" type="image/png">
        <link href="static/fonts/fonts.css" rel="stylesheet" type="text/css">
        <link href="static/stylesheet.css" rel="stylesheet" type="text/css">
    </head>

    <body class="wrapper">
    <div class="wrapper center">
        <div class="logo">
            <a class="dark-text">cinema</a><a class="accent-text">API</a>
        </div>
        <div class="description">
            <a class="dark-text">Быстрый поиск кино, сериалов и аниме.</a>
        </div>
        <div class="buttons">
            <a class="button" onclick="window.location.href='https://t.me/{{ support }}'">Подключение</a>
            <a class="button" onclick="window.location.href='{{ docs }}'">Документация</a>
            <a class="button" onclick="window.location.href='https://t.me/{{ support }}'">Поддержка</a>
            <a class="button" onclick="window.location.href='https://cocine.me'">cocine.me</a>
        </div>
    </div>
    </body>
</html>